@import "./assets/fonts/fonts.css";
@import "./styles/theme.css";
@import "./styles/theme-bridge.css";

/* ===============================
   RESET & GLOBAL
================================ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Noto Kufi Arabic", sans-serif;
  font-size: 15px;
  line-height: 1.8;

  color: #33383C;
  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.rtl{
direction:rtl;
}

body.ltr{
direction:ltr;
}
/* ===============================
   CODE (Dev only)
================================ */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
